* {
	box-sizing: border-box;

}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400px;
	background-color: rgb(238, 234, 234);
}

#container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, minmax(0, auto));
	margin: 20px 80px;
}

main {
	grid-row: 2/3;
	grid-column: 3/6;
	width: 380px;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 3px 3px 10px rgba(82, 79, 79, 0.534);
	padding: 20px;
	position: relative;
	top: -15%;
	left: 20%;
	background-color: #dfd7d7;
}

p {
	margin: 0;
}

input {
	display: block;
	margin-bottom: 10px;
}

input#cardnum {
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border-color: transparent;
}


input#cardHolder {
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border-color: transparent;
}

input#month {
	width: 30%;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	border-color: transparent;
}

input#year {
	width: 30%;
	display: inline-block;
	padding: 10px;
	margin-left: 5px;
	border-radius: 5px;
	border-color: transparent;
}

input#cvv {
	width: 20%;
	margin-left: 15%;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	border-color: transparent;
}

input#submit {
	width: 100%;
	padding: 15px 20px;
	color: white;
	background-color: rgb(25, 121, 231);
	border: none;
	border-radius: 5px;
}

form {
	margin-top: 80px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, minmax(0, auto));
}


form>span {
	display: none;
}

.card {
	width: 323.5px;
	height: 204.09px;
	border-radius: 10px;
	margin: 0 auto;
	transition: all 1s 2s;
	grid-row: 1/2;
	grid-column: 4/7;
	opacity: 1;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, minmax(0, auto));
	color: white;
	background-color: #696969;
	position: relative;
	z-index: 2;
	transition: all 1s 0.5s;
}

.silver {
	grid-row: 2/3;
	grid-column: 1/4;
}

.cardtype {
	grid-row: 2/3;
	grid-column: 10/13;
	text-align: justify;
	margin-top: 5%;
}

.inputhere {
	grid-row: 3/4;
	grid-column: 1/13;
	border: 1px solid white;
	border-radius: 5px;
	display: inline-grid;
	align-items: center;
	margin-bottom: 15px;
	height: 30px;
}

.inputhere ul {
	display: grid;
	grid-column: 1/13;
	padding: 0;
	margin: 0;
}

.inputhere li {
	list-style-type: none;
	font-weight: bold;
	letter-spacing: 7px;
}

.inputhere li.first {
	grid-column: 2/4;
}

.inputhere li.second {
	grid-column: 5/7;
}

.inputhere li.third {
	grid-column: 9/11;
}

.inputhere li.fourth {
	grid-column: 12/13;
}

.carduser {
	grid-row: 4/5;
	grid-column: 1/8;
	text-transform: uppercase;
}

.carduser small {
	font-size: 10px;
	font-weight: bold;
}

.expire {
	grid-row: 4/5;
	grid-column: 10/13;
}